<head>
	<meta charset="utf-8" />
	<title>Removed</title>
	<style>
		body {
			padding-top: 450px;
            background-image: url('/image/blue.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;   
        }

		a {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		#message {
            color: rgba(255, 4, 121, 0.766);
            font-weight: bold;
        }

	</style>
</head>

<body>
	<h1>Removal of All Saved Places</h1>
	<div id="message">
		All saved have been removed from the database. <br>Number of removed: <%- delectedNum %>
	</div>
	
    <a href="/dashboard"><img src="/image/home.png" alt="HTML tutorial" style="width:40px;height:40px;"></a>
</body>

</html>